<div class="toolbar">
  <h1 id="pageTitle">Page #03</h1>
</div>

<br>
<b>Invisible TabBar page 03</b>
<br>
<INPUT type="button" value="Switch to 01" name="button1" onClick="to01();">
<br>
<INPUT type="button" value="Switch to 02" name="button2" onClick="to02();">
<br>
<li><%= link_to "No bar and return to TabBar test page", :action => :set_no_bar %></li>


<script type="text/javascript">

function to01() {
  $.get('/app/NativeTabbarTest/invisible_switch_to_01', {});
  return false;
}

function to02() {
  $.get('/app/NativeTabbarTest/invisible_switch_to_02', {});
  return false;
}

</script>
